#footer{
    clear: both;
    height: 90px;
    background-color: #12232f;
    position: relative;
    top: 0px;
    text-align: center;
    bottom: 0%;
    width: 100vw;
    
}
.logo-div{
    float: right;
    margin-top: 20px;
}
.footer-main_heading{
    position: relative;
    top: 40px;
    font-family: sans-serif;
    color: #d6d6d6;
    font-size: 12px;
    background-color: #12232f;
}
#powered{
    margin:0;
    /* margin-right: 10px; */
    color: #d6d6d6;
    font-size: 13px;
    /* font-weight: 500; */
    background-color: #12232f;
    
}
#img{
    position: relative;
    top: 2px;
    height: 50px;
    
}