body {
    background-color: rgb(217, 221, 212) !important;
}

.appBar {
    color: rgb(221, 217, 217)!important;
    background-color: white !important;
    text-align: center;
    height: 60px;
}

#typoDiv {
    width: 100vw;
    height: 68px;
}

.text-span {
    font-size: 1.55vw;
    position: relative;
    top: 22px;
    color: #5048485b;
    font-family: sans-serif;
}

#image {
    width: 40%;
    height: 100%;
}

#imageDiv {
    text-align: center;
    width: 8px;
    height: 60px;
    position: relative;
    left: -24px;
    background-color: #08383d;
    top: -2px;
}

#drawer {
    background-color: white !important;
    height: 500px;
    margin-top: 0px;
}

.MuiDrawer-paper {
    top: 60px !important;
    flex: 1 0 auto;
    height: calc(100% - 40px)!important;
    width: 260px!important;
    display: flex;
    outline: 0;
    z-index: 1200;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    bottom: 0;
}

#infoIcon {
    position: absolute;
    left: 15px;
}

#button {
    position: absolute;
    top: 100px;
}

#accordion-Typo {
    position: relative;
    left: 24px;
    font-weight: 900!important;
    color: #5c5c5c!important;
}

#iconInDrawer {
    position: relative;
    left: 43%;
    top: 70px;
    font-weight: 900;
    color: #5c5c5c;
}

#accordion-Self {
    position: relative;
    top: 100px;
    width: 104%!important;
    border: none!important;
}

#drawer-list {
    position: relative;
    top: 95px;
    width: 104%!important;
    font-weight: 900;
    color: #5c5c5c;
}

#info-icon {
    position: relative;
    left: -10px;
    color: #5c5c5c;
}

.MuiTypography-body1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
}

#profile-name {
    position: relative;
    top: 100px;
    text-align: center;
    font-weight: 900;
    color: #5c5c5c;
}

.span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #5c5c5c;
    position: relative;
    left: 20px;
    margin-top: 5px;
    font-family: myfontRegular, sans-serif;
}

@media screen and (max-width:600px) {
    .text-span {
        display: none;
    }
}

#options-info {
     background-color: rgba(0, 100, 95, .14);
    display: block;
    width: 6vw;
    height: 170px;
}


#upperDiv {
    width: 38vw;
    position: relative;
    left: -24px;
    background-color: rgba(185, 181, 181, 0.28);
    color: grey;
    display: flex;
}


@media screen and (max-width:600px) {
    #imageDiv {
        height: 63px;
    }
}
.profile-info-headers{

    font-size: 14px;
    text-align: left;
    color: #5c5c5c;
    
   
}
.profile-info-user{
    font-size: 14px;
    color: grey;
    padding-left: 15px;

    text-align: left;

}